@using Sitecore.Commerce.Storefront.Managers

<div class="col-md-12">
    <h2>
        @Html.Sitecore().Field("Address Book Title", Html.Sitecore().CurrentItem)
        <a href="@StorefrontManager.StorefrontUri("/accountmanagement/addressbook")" class="view-all pull-right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Html.Sitecore().Field("Add New Address Label", Html.Sitecore().CurrentItem)
        </a>
    </h2>
    <div id="addressesSection">
        <div class="table-responsive" id="addresses" data-bind="if: isNotEmpty">
            <table class="table table-hover small-list">
                <thead>
                    <tr>
                        <td width="90%">@Html.Sitecore().Field("Address Label", Html.Sitecore().CurrentItem)</td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Addresses">
                    <tr data-bind="css: { 'odd': $index() % 2 == 0 }">
                        <td>
                            <a href="#" data-bind="attr: { href: DetailsUrl }">
                                <span data-bind="text: FullAddress"></span>
                                <span class="pull-right" data-bind="if: IsPrimary">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    @Html.Sitecore().Field("Primary Address Label", Html.Sitecore().CurrentItem)
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="addressesEmpty" data-bind="if: isEmpty">
            @Html.Sitecore().Field("Addresses Empty Text", Html.Sitecore().CurrentItem)
        </div>
    </div>
</div>

<script type="text/javascript">
    initAddressList("addressesSection");
</script>
