@using Sitecore.Commerce.Storefront.Managers;
@model RegisterModel
@using (Ajax.BeginForm("ResetPassword", "Account", null, new AjaxOptions { OnBegin = "SetResetPasswordProcessingButton", OnSuccess = "ResetPasswordSuccess", OnFailure = "ResetPasswordFailure", HttpMethod = "Post" }, new { @id = "ForgotPasswordForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <!-- CONTENT CONTAINER -->
    <div id="" class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p>@Html.Sitecore().Field("Fill Form Message", Html.Sitecore().CurrentItem)</p>
                    <p>&nbsp;</p>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, Html.Sitecore().Field("Email", Html.Sitecore().CurrentItem))

                        @Html.TextBoxFor(m => m.UserName, 
                        new 
                        { 
                            placeholder = Html.Sitecore().Field("Email Address Placeholder", Html.Sitecore().CurrentItem), 
                            data_val_required = Html.Sitecore().Field("Email Missing Message", Html.Sitecore().CurrentItem),
                            @class = "form-control"
                        })

                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" id="forgotPasswordButton" data-loading-text="processing..." class="btn btn-success">@Html.Sitecore().Field("Submit", Html.Sitecore().CurrentItem)</button>
                        <a class="btn btn-default" href="@StorefrontManager.StorefrontUri("/Login")">@Html.Sitecore().Field("Cancel", Html.Sitecore().CurrentItem)</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 spot-single-image">
                    <img src="http://placehold.it/750x430" class="img-responsive" alt="a" />
                </div>
            </div>
        </div>
    </div>
}