@{
    // Header
    var headerShippAllLabel = Html.Sitecore().Field("Ship All Items Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var shippingAddressLabel = Html.Sitecore().Field("Shipping Address Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var chooseAddressLabel = Html.Sitecore().Field("Choose Address Book Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var addressLabel = Html.Sitecore().Field("Choose Address Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var otherAddressLabel = Html.Sitecore().Field("Choose Other Address Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var shippingNameLabel = Html.Sitecore().Field("Shipping Name Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var cityLabel = Html.Sitecore().Field("City Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var countryLabel = Html.Sitecore().Field("Country Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var stateLabel = Html.Sitecore().Field("State Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var address1Label = Html.Sitecore().Field("Address Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var zipcodeLabel = Html.Sitecore().Field("Zipcode Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var viewButtonLabel = Html.Sitecore().Field("View Button Label", Html.Sitecore().CurrentItem.Children["Delivery"]);
    var viewButtonLoadingLabel = Html.Sitecore().Field("View Button Loading Label", Html.Sitecore().CurrentItem.Children["Delivery"]);

}

<div id="rsf-error-delivery" class="col-md-12">
    <!-- TODO: Error messages here -->
    <div class="bg-danger error-handling">
        <p class="error-header"><span class="glyphicon glyphicon-ban-circle"></span> An error has occurred!</p>
        <div id="errorsSummary"></div>
    </div>
</div>
<div class="col-md-12"><h1>@headerShippAllLabel</h1></div>

<div class="col-md-12"><h3>@shippingAddressLabel:</h3></div>
<!--Sample for Div needs Id-->
    <div class="col-md-4 col-md-offset-8">
        <div class="form-group" data-bind="visible:isAuthenticated">
            <label for="ShippingAdressSelect">@chooseAddressLabel</label>
            <select id="ShippingAdressSelect" class="form-control" data-bind="foreach: userAddresses, value:'UseOther'" title="@addressLabel" title2="@otherAddressLabel">
                <!-- ko if: id == 'UseShipping' -->
                <!-- /ko -->
                <!-- ko if: id != 'UseShipping' -->
                <option data-bind="attr:{value:id}, text:street"></option>
                <!-- /ko -->
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group required-field">
            <label for="ShipAllItemsInput-Name">@shippingNameLabel<span class="required">*</span></label>
            <input type="text" class="form-control" id="ShipAllItemsInput-Name" placeholder="@shippingNameLabel">
        </div>
        <div class="form-group required-field">
            <label for="ShipAllItemsInput-City">@cityLabel<span class="required">*</span> </label>
            <input type="text" class="form-control" id="ShipAllItemsInput-City" placeholder="@cityLabel">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group required-field">
            <label for="ShipAllItemsInput-Country">@countryLabel<span class="required">*</span></label>
            <select id="ShipAllItemsInput-Country" class="form-control" data-bind="options: countries, optionsText:'country', optionsValue:'code'"></select>
        </div>
        <div class="form-group">
            <label for="ShipAllItemsInput-State">@stateLabel</label>
            <!-- ko if: states == 'undefined' -->
            <select id="ShipAllItemsInput-State" class="form-control" data-bind="options: states, optionsText:'name', optionsValue:'code'"></select>
            <!-- /ko -->
            <!-- ko if: states != 'undefined' -->
            <input type="text" class="form-control" id="ShipAllItemsInput-State" placeholder="@stateLabel">
            <!-- /ko -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="ShipAllItemsInput-Address">@address1Label</label>
            <input type="text" class="form-control" id="ShipAllItemsInput-Address" placeholder="@address1Label">
        </div>
        <div class="form-group">
            <label for="ShipAllItemsInput-Zipcode">@zipcodeLabel</label>
            <input type="text" class="form-control" id="ShipAllItemsInput-Zipcode" placeholder="@zipcodeLabel">
        </div>
    </div>
    <input type="hidden" id="ShipAllItemsInput-ExternalId" data-bind="value: isAuthenticated == true ? 0 : 1" />
    <div class="col-md-12"><h3>Available shipping options:</h3></div>
    <div class="col-md-3">
        <button id="orderGetShippingMethods" type="button" data-loading-text="@viewButtonLoadingLabel" class="btn btn-default">@viewButtonLabel</button>
    </div>
    <div class="col-md-9">
        <div id="shippingMethodsContainer" class="form-group shipping-options" data-bind="foreach: shippingMethods">
            <input type="radio" style="margin-left:20px" data-bind="value: id, attr:{ 'name': 'shippingMethodId','id': 'method-' + description, 'data-name':description}">
            <label data-bind="text: description" style="vertical-align: middle;"></label>    
        </div>
    </div>
