<div id="S05-ProductPresentation" class="row">
    <div class="col-md-6 col-sm-12">
        @Html.Sitecore().Placeholder("productimages")
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="prod-info giftcard">
            <div class="row">
                <div class="col-md-6 hidden-sm hidden-xs">
                    @Html.Sitecore().Placeholder("productrating")
                </div>
                <div class="col-md-6 col-xs-12">
                    @Html.Sitecore().Placeholder("socialconnector")
                </div>
                @Html.Sitecore().Placeholder("productinformation")
                @Html.Sitecore().Placeholder("addtocart")
                <div class="col-md-4 col-sm-4 hidden-xs">
                    @Html.Sitecore().Placeholder("shareandprint")
                </div>
                @Html.Sitecore().Placeholder("checkgiftcardbalance")
            </div>
        </div>
    </div>
</div>