@model ProductViewModel

@using Sitecore.Commerce.Storefront.Extensions
@using Sitecore.Commerce.Entities.Inventory

@using (Ajax.BeginForm("AddCartLine", "Cart", null, new AjaxOptions { OnSuccess = "AddToCartSuccess", OnFailure = "AddToCartFailure", HttpMethod = "Post" }, new { @id = "AddToCartForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ProductId)
    @Html.Hidden("VariantId", string.Empty);
    @Html.HiddenFor(m => m.CatalogName)
    @Html.Hidden("ImageUrl", Model.Images[0].GetImageUrl(50, 50));

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group giftcard-amount">
            <div class="control-group">
                @Html.LabelFor(model => model.GiftCardAmount, new { @class = "control-label" })
                <div class="controls" id="giftcardAmount">
                    @Html.TextBoxFor(model => model.GiftCardAmount, new { @id = "GiftCard-Amount", @type = "number", @class = "form-control", @min = "1", @max = "100", @required = "required", @Value = "1", @placeholder = "Amount" })
                    @Html.ValidationMessageFor(model => model.GiftCardAmount)
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-sm-8 col-xs-12">
        <div id="C12-AddToCart" class="add-to-basket">
            <div class="control-group">
                @Html.LabelFor(model => model.Quantity, new { @class = "control-label" })
                <div class="controls" id="quantity">
                    @Html.TextBoxFor(model => model.Quantity, new { @id="Quantity-field", @type = "number", @class = "form-control", @min = "1", @max = "100", @required = "required", @Value = "1", @placeholder = "Quantity" })
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>

            @if (Model.StockStatus != null && Equals(Model.StockStatus.Name, StockStatus.OutOfStock.Name))
            {
                <button id="AddToCartButton" type="submit" value="@Translate.Text(Sitecore.Commerce.Storefront.Texts.ProductLabelAddToCart)" class="btn disabled" />
            }
            else
            {
                <button id="AddToCartButton" type="button" class="btn btn-success" data-loading-text="Adding to Cart..." onclick="SubmitAddTo(null);">@Translate.Text(Sitecore.Commerce.Storefront.Texts.ProductLabelAddToCart)</button>
            }
        </div>
    </div>
}
